* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

h2, h1 {
  font-weight: 600;
  font-size: 24px;
  margin: 0, 0, 16px, 0;
}

.item {
  background-color: #f6f6fe;
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  height: 100%;
}

ul {
  padding: 0;
}

li {
  font-weight: 400;
  font-size: 16px;
  list-style-type: none;
  width: 360px;
  height: 40px;
  border: 1px solid black;
  padding-left: 8px;
  margin-bottom: 8px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery-item {
  flex-basis: calc((100% - 40px) / 3); 
}

.gallery-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42, 0,3;
  padding-left: 8px;
}

input {
  width: 360px;
  height: 40px;
}